#goal-row {
  position: relative;
  top: 20px;
  left: 10%;
  padding-bottom: 50px;
}

#goal-name{
  position: absolute;
  top: 25%;
  left: 10%;
}

#goal-input{
  position: absolute;
  top: 25%;
  left: 30%;
  width: 10%;
}

#goal-math{
  position: absolute;
  top: 25%;
  left: 45%;
}

#total {
  position: relative;
  top: 20px;
  left: 30%;
}

#add-more-goals{
  position: relative;
  top: 20px;
  left: 35%;
  padding-bottom: 5px;
}

#back-button{
  position: absolute;
  left: 5%;
  padding-top: 5px;
}

.new_goal_input{
  border: 1px solid lightgray;
  border-radius: 1.5px;
}